{% extends 'wedding/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Rejestracja - {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-custom">
                <div class="card-header text-center">
                    <h3 style="color: #5d4e37;">Rejestracja gościa</h3>
                    <p class="mb-0">Dołącz do naszego wesela!</p>
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
                <div class="card-footer text-center">
                    <small>
                        Masz już konto? <a href="{% url 'wedding:login' %}" style="color: #8b6f47;">Zaloguj się</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}